<!doctype html>
<head>
	<title>4x Dashboard</title>
	<link rel="stylesheet" href="/static/css/index.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	
</head>
<body>

<div class="head">

	<div class="left-head">
		<h1> 4x Dashboard </h1>
		<p> A cheap satellite weather data receiver, with GPS. <p>
	</div>
	<div class="right-head">
		<div class="right-head-title">
			Weather Indicator
		</div>
		<div class="right-head-body">
			<div class="bulb green active-bulb"> 
				<div class="bulb-title">
					Safe
				</div>
			</div>
			<div class="bulb yellow">
				<div class="bulb-title">
					Moderate
				</div>
			</div>
			<div class="bulb red">
				<div class="bulb-title">
					Unsafe
				</div> 
			</div>
		</div>
	</div>
	<div class="x-point">
		<div class="right-head-title" style="margin-left:0px;">
			X-Factors
		</div>
	  <ul>
		<li>1x - No Internet Required</li> 
		<li>2x - Reliable</li>
		<li>3x - Portable</li>
		<li>4x - Cheap</li>
	  </ul>
	</div>
</div>

<div class="body">

{% for image in images %}
	<div class="card">
 		 <img src="{{ url_for('static', filename='images/' + image) }}", height= '400px' , width='400px'>
		 <div class="card-body">
				safe
		 </div>
  	</div>
{% endfor %}

</div>

</body>
</html>
